@charset "utf-8";

@import "~bulmaswatch/flatly/_variables";
// Overrides
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$bulmaswatch-import-font: false;
$family-sans-serif: "Roboto";
$title-family: "Archivo Black";

// dont change the order of these or try to move them up
@import "~bulma/bulma";
@import "~bulmaswatch/flatly/_overrides";

// override the overrids....
.navbar {
  border-radius: 0;
}
